<div class="flex-container" color="primary">
  <div class="register-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>MEAN Stack with Angular 2!</mat-card-title>
        <mat-card-subtitle>Register</mat-card-subtitle>
      </mat-card-header>
      <form #registerForm="ngForm" (ngSubmit)="registerForm.valid && register()">
        <mat-card-content>
          <mat-form-field>
            <input type="email" matInput placeholder="Email" name="email" [(ngModel)]="registerClass.email" #email="ngModel" required email>
            <mat-error *ngIf="email.errors?.required">Please enter a value</mat-error>
            <mat-error *ngIf="email.errors?.email">Please enter a valid email address</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <input type="text" matInput placeholder="Nickname" [(ngModel)]="registerClass.nickname" name="nickname" #nickname="ngModel" required>
            <mat-error *ngIf="nickname.errors?.required">Please enter a value</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" [(ngModel)]="registerClass.password" name="password" #password="ngModel" required>
            <mat-error *ngIf="password.errors?.required">Please enter a value</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <input type="password" matInput placeholder="Confirm Password" [(ngModel)]="registerClass.confirmPassword" name="confirmPassword" #confirmPassword="ngModel"
              appValidateEqual validateEqual="password" required>
            <mat-error *ngIf="confirmPassword.errors?.required">Please enter a value</mat-error>
            <mat-error *ngIf="confirmPassword.errors?.equal">Please enter the correct password</mat-error>
          </mat-form-field>
          <br/>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Register</button>
          <button mat-button routerLink="/login">Go to Login</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>