<div class="flex-container" color="primary">
  <div class="login-card">
    <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && login()">
      <mat-form-field>
        <input type="text" matInput placeholder="Email" [(ngModel)]="loginClass.username" name="username" #username="ngModel" required>
        <mat-error *ngIf="username.errors?.required">Please enter a value</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" [(ngModel)]="loginClass.Password" name="password" #password="ngModel" required>
        <mat-error *ngIf="password.errors?.required">Please enter a value</mat-error>
      </mat-form-field>
      <br/>
      <br/>
      <button mat-raised-button color="primary" type="submit">Login</button>
      <button mat-button routerLink="/register">Register</button>
    </form>
  </div>
</div>