<div class="flex-container" color="primary">
  <div class="login-card">
    <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && login(loginForm)">
      <mat-form-field>
        <input type="email" matInput placeholder="Email" [(ngModel)]="loginClass.email" name="email" #email="ngModel" required email>
        <mat-error *ngIf="email.errors?.required">Please enter a value</mat-error>
        <mat-error *ngIf="email.errors?.email">Please enter a valid email address</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" [(ngModel)]="loginClass.Password" name="password" #password="ngModel" required>
        <mat-error *ngIf="password.errors?.required">Please enter a value</mat-error>
      </mat-form-field>
      <br/>
      <br/>
      <button mat-raised-button color="primary" type="submit">Login</button>
      <button mat-button routerLink="/register">Register</button>
    </form>
  </div>
</div>